.App {
  font-family: "Cousine", monospace;
  display: block;
  margin: 75px 75px 10px;
  max-width: 800px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  background-image: linear-gradient(to top, #fff1eb 0%, #d8f2fe 100%);
  box-shadow: 10px 10px 5px rgb(205, 205, 205);
  color: #cc90c8;
  /*position: relative;*/
}
