.Body {
  text-align: center;

  font-size: 18px;
  line-height: 30px;
  padding: 30px 30px;
  display: block;
}

.City {
  font-size: 30px;
  text-align: center;
  padding: 20px 30px;
}

.weather-unit {
  font-size: 15px;
  position: relative;
  top: -9px;
}

.weather-description {
  font-size: 20px;
}

.current-conditions {
  text-align: center;
}

.Search {
  color: #cc90c8;
  font-size: 10px;
  line-height: 15px;
  margin: 0;
  text-align: left;
  padding: 20px 30px;
}
