.Details {
  color: #cc90c8;
  font-size: 15px;
  line-height: 20px;
  /*margin: 0;
  padding: 10px;*/
  position: relative;
  right: 20px;
}

.current-place {
  font-size: 10px;
  padding: 10px 30px;
  line-height: 10px;

  position: relative;
  right: 30px;
  color: floralwhite;
  background-color: #cc90c8;
  border-radius: 50px;
}
